.bg-amber-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 235 / var(--tw-bg-opacity));
}

.bg-sky-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(125 211 252 / var(--tw-bg-opacity));
}

.bg-sky-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 249 255 / var(--tw-bg-opacity));
}

.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.bg-slate-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.bg-slate-900\/40 {
    background-color: rgba(15, 23, 42, 0.4);
}

.bg-slate-900\/50 {
    background-color: rgba(15, 23, 42, 0.5);
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.from-blue-400\/0 {
    --tw-gradient-from: rgba(96, 165, 250, 0) var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(96, 165, 250, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-indigo-200 {
    --tw-gradient-from: #c7d2fe var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(199, 210, 254, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-sky-300 {
    --tw-gradient-from: #7dd3fc var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(125, 211, 252, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-sky-300\/0 {
    --tw-gradient-from: rgba(125, 211, 252, 0) var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(125, 211, 252, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-sky-400\/30 {
    --tw-gradient-from: rgba(56, 189, 248, 0.3) var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(56, 189, 248, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-slate-800 {
    --tw-gradient-from: #1e293b var(--tw-gradient-from-position);
    --tw-gradient-from-position: ;
    --tw-gradient-to: rgba(30, 41, 59, 0) var(--tw-gradient-from-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-blue-400 {
    --tw-gradient-via-position: ;
    --tw-gradient-to: rgba(96, 165, 250, 0) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from),
        #60a5fa var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.via-sky-300\/70 {
    --tw-gradient-via-position: ;
    --tw-gradient-to: rgba(125, 211, 252, 0) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from),
        rgba(125, 211, 252, 0.7) var(--tw-gradient-via-position),
        var(--tw-gradient-to);
}

.via-sky-400 {
    --tw-gradient-via-position: ;
    --tw-gradient-to: rgba(56, 189, 248, 0) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
    --tw-gradient-stops: var(--tw-gradient-from),
        #38bdf8 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-blue-300 {
    --tw-gradient-to: #93c5fd var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
}

.to-blue-400\/0 {
    --tw-gradient-to: rgba(96, 165, 250, 0) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
}

.to-indigo-200 {
    --tw-gradient-to: #c7d2fe var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
}

.to-sky-300\/0 {
    --tw-gradient-to: rgba(125, 211, 252, 0) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
}

.to-sky-400\/30 {
    --tw-gradient-to: rgba(56, 189, 248, 0.3) var(--tw-gradient-to-position);
    --tw-gradient-to-position: ;
}
.tracking-tight {
    letter-spacing: -0.025em;
}

.text-amber-800 {
    --tw-text-opacity: 1;
    color: rgb(146 64 14 / var(--tw-text-opacity));
}

.text-amber-900 {
    --tw-text-opacity: 1;
    color: rgb(120 53 15 / var(--tw-text-opacity));
}

.text-sky-300 {
    --tw-text-opacity: 1;
    color: rgb(125 211 252 / var(--tw-text-opacity));
}

.text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity));
}

.text-sky-600 {
    --tw-text-opacity: 1;
    color: rgb(2 132 199 / var(--tw-text-opacity));
}

.text-sky-800 {
    --tw-text-opacity: 1;
    color: rgb(7 89 133 / var(--tw-text-opacity));
}

.text-sky-900 {
    --tw-text-opacity: 1;
    color: rgb(12 74 110 / var(--tw-text-opacity));
}

.text-slate-300 {
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
}

.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

.text-slate-500 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.text-slate-700 {
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}

.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
}

.text-transparent {
    color: transparent;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
